<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="">LogIn</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="" ng-click="goToMoreInfo()">MoreInfo<span class="glyphicon glyphicon-search"></span></a>
            </div>
        </div>    
        </nav>
       
        <br/> <br/> <br/> <br/> <br/>
       <div class="container main-content">
    
    
            <form ng-submit="login()">


                    <div class="form-group">
                        <label for="username" class="control-label">Username</label>
                        <input type="text" class="form-control" ng-model="MyUser.username" id="username" name="username">    
                    </div>


                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" class="form-control" ng-model="MyUser.password" id="password" name="password">    
                    </div>  
                <button class="btn btn-success">Login</button> 
                <button class="btn btn-danger" ng-click="Browse()">See More</button>

            </form>
           <h3 style="text-align: center" class="text-danger">{{message}}</h3>
        </div>